<?xml version="1.0"?>
<config>
    <modules>
        <Quafzi_CustomerGroupSlideInBanner>
            <version>1.0.0</version>
        </Quafzi_CustomerGroupSlideInBanner>
    </modules>
    <global>
        <blocks>
            <quafzi_customergroupslideinbanner>
                <class>Quafzi_CustomerGroupSlideInBanner_Block</class>
            </quafzi_customergroupslideinbanner>
        </blocks>
        <helpers>
            <quafzi_customergroupslideinbanner>
                <class>Quafzi_CustomerGroupSlideInBanner_Helper</class>
            </quafzi_customergroupslideinbanner>
        </helpers>
        <models>
            <quafzi_customergroupslideinbanner>
                <class>Quafzi_CustomerGroupSlideInBanner_Model</class>
            </quafzi_customergroupslideinbanner>
        </models>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Quafzi_CustomerGroupSlideInBanner>
                    <files>
                        <default>Quafzi_CustomerGroupSlideInBanner.csv</default>
                    </files>
                </Quafzi_CustomerGroupSlideInBanner>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <quafzi_customergroupslideinbanner>
                    <file>quafzi_customergroupslideinbanner.xml</file>
                </quafzi_customergroupslideinbanner>
            </updates>
        </layout>
    </frontend>
</config>
